body {
    padding-top: 125px;
    text-align: center;
    background-color: limegreen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-size: 90px;
}

.buttona {
    font-size: 35px;
    text-emphasis: border;
    background-color: green;
    border-radius: 25px;
    border: 1px;
    border-color: greenyellow;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 16px 32px;
    display: inline-block;
    color: black;
}

.buttona:hover {
    background-color: greenyellow;
    color: black;
}

a:visited {
    color: darkgreen;
    transition-duration: 0.4s;
}

a:hover {
    color: green;
    transition-duration: 0.4s;
}

a:active {
    color: green;
    transition-duration: 0.4s;
}
p {
    font-size: 20px;
}
